{% load static %}
<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="{% static 'users/styles.css' %}"> 
       <link rel="stylesheet" href="{% static 'users/style.css' %}">
       <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="shadow-lg">
            <div class="px-4 mx-auto">
                <div class="flex justify-between">
                    <!--Website logo-->
                    <div>
                        <a class="flex" href="">
                            <img class="h-12 w-12 mr-2" src="{% static 'users/images/socialkings.png' %}" alt="">
                            <spam class="font-semibold text-3xl text-gray-500 py-1">Road & Photos</span>
                        </a>
                    </div>
                    <!--Website items-->
                    <div class="space-x-1">
                        {% if request.path == '/posts/feed/' %}
                            <a class="py-4 px-2 text-gray-500 text-xl font-semibold" href="/users">My Posts</a>
                        {% elif request.path == '/users/' %}
                            <a class="py-4 px-2 text-gray-500 text-xl font-semibold" href="/posts/feed">My Feed</a>
                        {% elif request.path != '/users/logout/' and request.path != '/users/login/' %}
                            <a class="py-4 px-2 text-gray-500 text-xl font-semibold" href="/users">My Posts</a>
                            <a class="py-4 px-2 text-gray-500 text-xl font-semibold" href="/posts/feed">My Feed</a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a class="py-4 px-4 text-gray-500 text-xl font-semibold" href="{% url 'logout' %}">Logout</a>
                            <a class="py-4 px-4 text-gray-500 text-xl font-semibold" href="{% url 'edit' %}">Profile</a>
                        {% elif not request.user.is_authenticated and request.path != '/users/login/' %}
                            <a class="py-4 px-4 text-gray-500 text-xl font-semibold" href="{% url 'login' %}">Login</a>
                            <a class="py-4 px-4 text-gray-500 text-xl font-semibold" href="{% url 'register' %}">Register</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </nav>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
